*{
    margin: 0;
    padding: 0;
}

.page-1{
    background-image:url(./background/Page\ 1.jpg);
    height: 100vh;
   
}

.page-2{
    background-image:url(./background/Page\ 2.jpg);
    height: 100vh;
}

.page-3{
    background-image:url(./background/Page\ 3.jpg);
    height: 100vh;
}

.page-4{
    background-image:url(./background/Page\ 4.jpg);
    height: 100vh;
}

.page-5{
    background-image:url(./background/Page\ 5.jpg);
    height: 100vh;
}
.instagram{
    height: 60px;
    width: 60px;
}

.linkedin{
    height: 47px;
    width: 47px;
}

.github{
    height: 55px;
    width: 55px;
}

/*#region Navbar*/

.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #505050;
    align-items: center;
}

.Navbar-title{
    margin: 0px 20px 0px 20px;
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Navbar-Links{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

/*#endregion*/

/*#region info*/
.info{
    display: flex;
    justify-content: space-around;

}

.info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.info-text-title{
    font-family: "Krona One", sans-serif;
    font-weight: 200;
    font-size: 35px;
    font-style: normal;
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    gap: 100px;
    
}

.info-text-paraghraf{
    font-family: "Krona One", sans-serif;
    font-weight: 40;
    font-size: 20px;
    font-style: normal;
    color: #000000;
    height: 400px;
    width: 800px;
    background-color: transparent;
}

.info-image{
    width: 310px;
}


/*#endregion*/